ion-card {
  border-radius: 10px;
  display: block;
  justify-content: center;
  width: fit-content;
  height: fit-content !important;
}

ion-img {
  border-radius: 10px;
  display: block;
  justify-content: center;
  width: 100%;
  height: 100% !important;
}
